/* .productGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  padding: 40px;
  max-width: 1400px;
  margin: 0 auto;
} */
.productGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  padding: 40px;
  max-width: 1400px;
  margin: 240px auto 0 auto; /* add top margin */
  box-sizing: border-box;
}
